/*font*/
@font-face {
    font-family: jf;
    src: url(../font/jf-openhuninn-2.0.ttf);
}
@font-face {
    font-family:gensenrounded ;
    src: url(../font/GenSenRounded-R.ttc);
}
/*body*/
body{
    background-color: black;
}
hr{
    border-color: #FFB800;
    width: 50%;
    margin-top: 55px;
    margin-bottom: 55px;
}
/*header*/
header{
    width: 90%;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom:2px solid #FFB800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:175px;
}
.nav{
    display: flex;
}
.nav_item{ 
    font-size: 20px;
    font-family: gensenrounded;
    margin-right: 60px;
    list-style:none;
    color: #FFB800;
    padding: 5px 10px;
    text-decoration: none;
}
.nav_item:hover{
    background-color: #FFB800;
    color: black;
}
/*main*/
.title{
    display: inline-block;
    font-family: gensenrounded;
    font-size: 20px;
    color: #FFB800;
    border-left:1.5px solid #0FF;;
    border-right:1.5px solid #0FF;;
    margin:0;
    padding-right:8px ;
    padding-left:8px ;
}
.intro{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.intro_items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainlogo{
    width: 125px;
    height: 125px;
    margin-right: 45px;
}
.intro_item{
    width: 60%;
    padding: 42px 20px;
    background-color:rgba(255, 255, 255, 0.5);
    border:2px solid white;
    border-radius: 20px;
    color: white;
    font-family:gensenrounded ;
    line-height: 150%;
    font-size: 18px;
}
.title_compose{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.compose{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.compose_pic{
    width: 150px;
    margin-right: 15px;
}
.investigation{
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    width: 50%;
    background-color:rgba(255, 255, 255, 0.5);
    border:2px solid white;
    border-left-width: 0;
    color: white;
    font-family:gensenrounded ;
    line-height: 150%;
    font-size: 18px;
    margin-bottom: 35px;
    padding: 10px 15px 20px 80px;
}
.investigation_item{
    display: flex;
    align-items: center;
}
.arrest{
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    align-self: flex-end;
    width: 50%;
    background-color:rgba(255, 255, 255, 0.5);
    border:2px solid white;
    border-right-width: 0;
    color: white;
    font-family:gensenrounded ;
    font-size: 18px;
    padding: 10px 70px 20px 25px;
}
.arrest_item{
    display: flex;
    align-items: center;
}
.monster{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.qa{
    margin-left: auto;
    margin-right: auto;
    padding: 42px 20px;
    width: 80%;
    background-color:rgba(255, 255, 255, 0.5);
    border:2px solid white;
    border-radius: 20px;
    color: white;
    font-family:gensenrounded ;
    font-size: 18px;
    line-height: 150%;
}
.youcan{
    color: #0FF;
    font-family:gensenrounded ;
    font-size: 18px;
}
.guide{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67px;
}
.youcan{
    text-align: center;
}
.guide_items{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.guide_item{
    color: white;
    font-family:gensenrounded ;
    font-size: 18px;
    text-align:center;
}
.guide_contain{
    width:220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guide_pic{
    width: 165px;
    border-radius:100%;
}
/*footer*/
footer{
    background-color: #FFB800;
    display: flex;
    justify-content: space-between;
    padding: 20px 52px;
}
.contact{

}
.icon{
    width: 37px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.mail{
    color:black;
    font-family: playpen-sans;
    margin:0;
}
.cr{
    color:black;
    font-family: playpen-sans;
    margin:0;
    align-self: center;
}
